.cb-page  {
	.cb-company-logo {
		display: block !important;
		float: left !important;
		margin: 0px 30px 0px 0px !important;
		position: relative !important;
		top: 0px !important;
		left: 0px !important;
	}

	.cb-company-contact-wrapper {
		float: left !important;
		position: relative !important;
		top: 0px !important;
		left: 0px !important;
	}

	h2.cb-company-name {
		margin: 0px 0px 20px 0px !important;
	}

	ul.cb-company-contact {

	}

	ul.cb-company-contact li.cb-address label {
		display: none !important;
	}

	ul.cb-company-contact li.cb-phone {
		float: left !important;
		margin: 0px 10px 0px 0px !important;
	}
}
