.cb-page {
  background: #ffffff !important;
  color: #000000 !important;
  font-family: Helvetica !important;
  font-size: 12px !important;
  margin: 0px auto !important;
  padding: 30px 30px 30px 30px !important;
  position: relative !important;
  width: 800px !important;
}

.cb-page a {
  color: #336799 !important;
  text-decoration: none !important;
}

.cb-page a:hover {
  color: #336799 !important;
  text-decoration: underline !important;
}

.cb-page ul, .cb-page ol {
  list-style: none !important;
  margin: 0px !important;
  padding: 0px !important;
}

.cb-page ul li, .cb-page ol li {
  margin: 0px 0px 4px 0px !important;
}

.cb-page ul li label {
  font-weight: 600 !important;
}

.cb-page ol li {
  font-weight: 600 !important;
}

.cb-page h2.cb-title {
  color: #000000 !important;
  font-size: 20px !important;
}

.cb-page h3.cb-title {
  color: #000000 !important;
  font-size: 15px !important;
}

.cb-page .cb-header {
  position: relative !important;
  overflow: hidden !important;
  word-wrap: break-word !important;
  height: auto !important;
}

.cb-page .cb-document-details-wrapper {
  float: right !important;
  text-align: right !important;
}

.cb-page h1.cb-document {
  color: #000000 !important;
  font-size: 25px !important;
  margin: 0px 0px 20px 0px !important;
  padding: 0px !important;
}

.cb-page .cb-company-logo {
  display: block !important;
  float: left !important;
  margin: 0px 30px 0px 0px !important;
  position: relative !important;
  top: 0px !important;
  left: 0px !important;
}

.cb-page .cb-company-contact-wrapper {
  float: left !important;
  position: relative !important;
  top: 0px !important;
  left: 0px !important;
}

.cb-page h2.cb-company-name {
  margin: 0px 0px 20px 0px !important;
}

.cb-page ul.cb-company-contact li.cb-address label {
  display: none !important;
}

.cb-page ul.cb-company-contact li.cb-phone {
  float: left !important;
  margin: 0px 10px 0px 0px !important;
}

.cb-page ul.cb-customer-contact {
  margin: 30px 0px 35px 0px !important;
}

.cb-page ul.cb-customer-contact li.cb-address {
  float: left !important;
}

.cb-page ul.cb-customer-contact li.cb-invoice-ref,
.cb-page ul.cb-customer-contact li.cb-phone,
.cb-page ul.cb-customer-contact li.cb-fax,
.cb-page ul.cb-customer-contact li.cb-email {
  text-align: right !important;
}

.cb-page ul.cb-customer-contact li.cb-address address {
  font-style: normal !important;
  margin: 0px 0px 30px 0px !important;
}

.cb-page p.cb-tax label {
  font-weight: normal !important;
}

.cb-invoice-summary {
  clear: both !important;
}

.cb-page table.cb-invoice-items {
  background: #ffffff !important;
  border-collapse: collapse !important;
  margin: 20px 0px 10px 0px !important;
  padding: 0px !important;
  width: 100% !important;
}

.cb-page table.cb-invoice-items thead {
  background: #000000 !important;
  color: #ffffff !important;
}

.cb-page table.cb-invoice-items thead tr th {
  font-size: 12px !important;
  border: 0px solid #ffffff !important;
  text-transform: uppercase !important;
  font-weight: 400 !important;
  padding: 4px 6px !important;
  text-align: right !important;
}

.cb-page table.cb-invoice-items thead tr th.cb-desc {
  text-align: left !important;
}

.cb-page table.cb-invoice-items tbody tr td {
  font-size: 12px !important;
  border: 0px solid #ffffff !important;
  padding: 4px 6px !important;
  text-align: right !important;
}

.cb-page table.cb-invoice-items tbody tr td.cb-desc {
  text-align: left !important;
  vertical-align: top !important;
}

.cb-page table.cb-invoice-items thead tr th.cb-qty {
  width: 6% !important;
}

.cb-page table.cb-invoice-items thead tr th.cb-unitprice {
  width: 12% !important;
}

.cb-page table.cb-invoice-items thead tr th.cb-net, .cb-page table.cb-invoice-items thead tr th.cb-vat {
  width: 10% !important;
}

.cb-page table.cb-invoice-items thead tr th.cb-amount {
  width: 12% !important;
}

.cb-page table.cb-invoice-items tbody tr.cb-item {
  background: #ffffff !important;
  color: #000000 !important;
}

.cb-page table.cb-invoice-items tbody tr.cb-item.alt {
  background: #e8e8e8 !important;
  color: #000000 !important;
}

.cb-page table.cb-invoice-items tfoot tr.cb-total {
  background: !important;
  color: !important;
}

.cb-page table.cb-invoice-items tfoot tr td {
  font-size: 12px !important;
  padding: 4px 6px !important;
  text-align: right !important;
  vertical-align: bottom !important;
}

.cb-page table.cb-invoice-items tfoot tr td label {
  text-transform: uppercase !important;
}

.cb-page table tfoot tr td.cb-whitespace {
  padding: 5px !important;
}

.cb-page table.cb-invoice-items tfoot tr.cb-total td.cb-total {
  font-weight: 700 !important;
}

.cb-page table.cb-payments {
  background: #ffffff !important;
  border-collapse: collapse !important;
  margin: 20px 0px 10px 0px !important;
  padding: 0px !important;
  width: 100% !important;
}

.cb-page h2.cb-payment-history {
  margin-bottom: -5px !important;
}

.cb-page table.cb-payments thead {
  background: #000000 !important;
  border: 0px solid #ffffff !important;
  color: #ffffff !important;
}

.cb-page table.cb-payments thead tr th {
  font-size: 12px !important;
  text-transform: uppercase !important;
  font-weight: 400 !important;
  padding: 4px 6px !important;
  text-align: left !important;
}

.cb-page table.cb-payments thead tr th.cb-amount {
  text-align: right !important;
}

.cb-page table.cb-payments tbody tr td {
  border: 0px solid #ffffff !important;
  font-size: 12px !important;
  padding: 4px 6px !important;
  text-align: left !important;
}

.cb-page table.cb-payments tbody tr td.cb-amount {
  text-align: right !important;
}

.cb-page table.cb-payments tbody tr.cb-payment {
  background: #ffffff !important;
  color: #000000 !important;
}

.cb-page table.cb-payments tbody tr.cb-payment.alt {
  background: #e8e8e8 !important;
  color: #000000 !important;
}

.cb-page table.cb-payments tfoot tr {
  background: #ffffff !important;
  color: #000000 !important;
}

.cb-page table.cb-payments tfoot tr td {
  font-size: 12px !important;
  padding: 4px 6px !important;
  text-align: right !important;
  vertical-align: bottom !important;
}

.cb-page table.cb-payments tfoot tr td label {
  font-weight: 600 !important;
  text-transform: uppercase !important;
}

.cb-page .cb-footer {
  border-top: 2px dashed #bbbbbb !important;
  margin: 30px 0px 0px 0px !important;
  padding: 10px 0px 0px 0px !important;
}

.cb-page .cb-footer-text {
  margin: 0px 0px 8px 0px !important;
}

.cb-page h2.cb-payment-advice {
  margin: 10px 0px 10px 0px !important;
}

.cb-page ul.cb-payment-methods {
  clear: both !important;
  margin: 20px 0px !important;
}

.cb-page ul.cb-payment-methods li.cb-method {
  font-size: 12px !important;
  float: left !important;
  margin: 0px 20px 0px 0px !important;
  width: 240px !important;
}

.cb-page .cb-payment-methods li.cb-method:last-child {
  margin: 0px 0px 30px 0px !important;
}

.cb-page .cb-registered-office {
  clear: both !important;
  font-size: 11px !important;
  margin: 0px 0px 0px 0px !important;
  padding: 20px 0px 0px 0px !important;
  text-align: center !important;
}

@media print {
  .cb-page .cb-registered-office {
    display: none !important;
  }
  meta[name="companyreg"] {
    string-set: companyreg attr(content) !important;
    /* Get the contents from the meta tag and save to string called companyreg */
  }
  @page {
    background: #ffffff !important;
    color: #000000 !important;
    font-family: Helvetica !important;
    font-size: 12px !important;
    margin: 0.6cm 1cm 2.5cm 1cm !important;
    size: A4 portrait !important;
    @bottom-center {
      content: string(companyreg) !important;
      /* Load contents for company_reg into the page footer */
      font-size: 7pt !important;
      text-align: center !important;
    }
  }
  html, body {
    background: #ffffff !important;
  }
  #save_pdf {
    display: none !important;
  }
  .cb-page {
    background: none !important;
    margin: 0px !important;
    padding: 0px !important;
    page-break-before: always !important;
    width: 100% !important;
  }
  .cb-page h2.cb-company-name {
    margin: 0px 0px 15px 0px !important;
  }
  .cb-page .cb-company-contact-wrapper {
    width: 300px !important;
  }
  .cb-page .cb-footer {
    float: bottom !important;
  }
  .cb-page ul.cb-payment-methods li.cb-method {
    width: 210px !important;
  }
}
