.cb-page .cb-document-details-wrapper {
	float: right !important;
	text-align: right !important;
}

.cb-page h1.cb-document {
	color: #000000 !important;
	font-size: 25px !important;
	margin: 0px 0px 20px 0px !important;
	padding: 0px !important;
}

.cb-page ul.cb-invoice-info {

}
